certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fake-useragent==0.1.11
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
logger==1.4
lxml==4.6.2
MarkupSafe==1.1.1
Pygments==2.8.0
pygount==1.2.4
requests==2.25.1
selenium==3.141.0
urllib3==1.26.3
Werkzeug==1.0.1
